---

- name: ensure authorized_keys dir exists
  file:
    path: /etc/ssh/authorized_keys
    state: directory
    owner: root
    group: root
    mode: 0755

- name: get current authorized keys
  command: ls -1 /etc/ssh/authorized_keys
  register: sshd_old_users
  check_mode: false
  changed_when: false

- name: delete unmaintained authorized keys
  file:
    path: "/etc/ssh/authorized_keys/{{ item }}"
    state: absent
  when: "item not in sshd_authorized_keys|map(attribute='user')|list"
  loop: "{{ sshd_old_users.stdout_lines }}"

- name: configure authorized keys
  authorized_key:
    user: "{{ item.user }}"
    key: "{{ item.key if item.key is string else '\n'.join(item.key) }}"
    path: "/etc/ssh/authorized_keys/{{ item.user }}"
    exclusive: true
    manage_dir: false
  loop: "{{ sshd_authorized_keys | flatten(levels=1) }}"
