- name: ensure openssh-server is present
  apt:
    pkg: openssh-server
    state: latest
    install_recommends: no
    force: yes
  notify: restart sshd

- name: ensure host keys are present
  command: "ssh-keygen -q -f ssh_host_{{ item }}_key -N '' -t {{ item }}"
  args:
    chdir: /etc/ssh
    creates: "/etc/ssh/ssh_host_{{ item }}_key"
  with_items: "{{ sshd_host_keys }}"

- name: ensure openssh config is latest
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
  notify: restart sshd

- name: ensure sftp chroot group is present
  group:
    name: "{{ sshd_sftp_chroot_group }}"
  when: sshd_sftp_chroot == 'yes'
