---
file:
  /etc/ssh:
    exists: true
    mode: "0755"
    owner: root
    group: root
    filetype: directory
{% if sshd_authorized_keys_file == "/etc/ssh/authorized_keys/%u" %}
  /etc/ssh/authorized_keys:
    exists: true
    mode: "0755"
    owner: root
    group: root
    filetype: directory
{% for item in sshd_authorized_keys %}
  /etc/ssh/authorized_keys/{{ item.user }}:
    exists: true
    owner: root
{% if item.key is defined %}
    filetype: file
    mode: "0640"
    group: {{ item.user }}
{% else %}
    filetype: symlink
{% endif %}
{% endfor %}
{% endif %}
{% for item in sshd_host_keys %}
  /etc/ssh/ssh_host_{{ item }}_key:
    exists: true
    owner: root
    group: root
{% endfor %}
service:
  ssh:
    enabled: true
    running: true
  sshd:
    enabled: true
    running: true
group:
  ssh:
    exists: true
process:
  sshd:
    running: true
